# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Julia
5. Scala
6. Java

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Seaborn
4. Matplotlib
5. Scikit-Learn
6. TensorFlow
7. PyTorch
8. Statsmodels


|DataScience Tools |
|------|
|Jupyter|
|RStudio|
|Spyder|
|Anaconda Navigator|
|VScode|

### Below are a few examples of evaluating arithmetic expressions in Python

| **Operation**      | **Symbol** | **Example**            | **Result**       |
|---------------------|------------|------------------------|------------------|
| **Addition**        | `+`        | `5 + 3`                | `8`              |
| **Subtraction**     | `-`        | `10 - 4`               | `6`              |
| **Multiplication**  | `*`        | `7 * 2`                | `14`             |
| **Division**        | `/`        | `8 / 2`                | `4.0`            |
| **Exponentiation**  | `**`       | `3 ** 2`               | `9`              |
| **Floor Division**  | `//`       | `9 // 4`               | `2`              |
| **Modulus (Remainder)** | `%`    | `10 % 3`               | `1`              |

You can combine these operators to create complex arithmetic expressions. For example:

- `(5 + 3) * 2` evaluates to `16`.
- `10 - 4 / 2` evaluates to `8.0` (division is performed before subtraction due to operator precedence).

In [ ]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [ ]:
# This will convert 200 minutes to hours by diving by 60.
mins = 200
hours = mins/60
hours

3.3333333333333335

**Objectives:**
- List popular languages for Data Science
- List popoular open source development environment tools for Data Science
- List popular Data Science Libraries
- List few arithmetic examples

## Author
Venkat Biyyapu